meta(charset='utf-8')
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")

link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/bootstrap-material-design.css')
link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/ripples.min.css')
	