doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
		link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")

		link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/bootstrap-material-design.css')
		link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/ripples.min.css')
	body
		nav.navbar.navbar-top
			
		.container
			.row
				.col-xs-12
					h1.text-center Something went wrong!
					h2.text-center
						a.btn.btn-sm.text-warning(href='/') Back to home