doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
		link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")

		link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/bootstrap-material-design.css')
		link(rel='stylesheet', href='/bower/bootstrap-material-design/dist/css/ripples.min.css')
	body
		nav.navbar.navbar-top
			a.btn.btn-sm.pull-right(href='/sign-out') Sign Out
		.container
			.row
				.col-xs-4.col-xs-offset-4
					h1 hello