doctype html
html
	head
		include partials/head
	body
		.container
			.row
				.col-xs-4.col-xs-offset-4
					h1 Sign Up
					form.form-horizontal(method='post', action='/sign_up')
						.form-group
							label.control-label Username:
							input.form-control(type='text', name='uid', required)
							label.control-label Email:
							input.form-control(type='text', name='email', required)
							label.control-label Password:
							input.form-control(type='password', name='password', required)
							label.control-label Confirm Password:
							input.form-control(type='password', name='confirmPassword', required)
							a.btn.btn-default.pull-left(href='/sign-in') Sign In
							input.btn.btn-primary.pull-right(type='submit', value='Submit')