doctype html
html
	head
		include partials/head
	body
		.container
			.row
				.col-xs-4.col-xs-offset-4
					h1 Sign In
					form(method='post', action='/sign_in')
						.form-group
							label.control-label Username: Or Email:
							input.form-control(type='text', name='name', required)
							label.control-label Password:
							input.form-control(type='password', name='password', required)

							a.btn.btn-default.pull-left(href='/sign-up') Sign Up
							input.btn.btn-primary.pull-right(type='submit', value='Submit')